<!-- <router-outlet>
</router-outlet> -->

<!-- <app-nav-bar></app-nav-bar> -->
<div class="container">
    <div class="row text-center mb-5 mt-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Listado de bandas</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let banda of bandas; let i = index" class="col-xs-10 col-sm-6 col-md-4 mt-5 banda-card">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="banda.url_imagen" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{banda.nombre}}</h5>
                  <p class="card-text cortar-descripcion">{{banda.descripcion}}</p>
                  <a [routerLink] = "['/banda/detalle', banda.id]" class="btn btn-primary">Ver más...</a>
                </div>
              </div>
        </div>
    </div>
</div>